@import "./modules/config";

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color:$primary-color;
    color:white;
    .banner{
        background-color: $tertiary-color;
        .website{
            max-width: 30px;
        }
        .github{
            max-width: 30px;
        }
        .linkedin{
            max-width: 30px;
        }
    }
    #parentContainer{
        height:85%;
        #counterCard{
            width: 800px;
            background-color:$counterCard-color;
            border-radius: 20px;
            box-shadow:0px 0px 10px 1px rgba(0,0,0,0.7);
            #divDisplayCounter{
                height:40%;
                background-color:$tertiary-color;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom:4px solid $primary-color;
                color:black;
                #displayCounter{
                    height:150px;
                    width: 70%;
                    background-color: white; 
                    border-radius: 20px;
                    border:2px solid black;
                }
            }
            #buttonDiv{
                height:60%;
                max-width:800px;
                background :$counterCard-color;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                .operationButton{
                    width: 35%;
                    height: 120px;
                    background-color:$tertiary-color;
                    color:white;
                    border-radius: 10px;
                    border:none;
                    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.7);
                }
                .operationButton:active{
                    border-right:1px solid $primary-color;
                    border-bottom:1px solid $primary-color;
                }
                #buttonPlus100::after{
                    content:"↑";
                    font-size: 15px;
                }
                #buttonLess100::after{
                    content:"↓";
                    font-size: 15px;
                }
                #reset::after{
                    content:"canc";
                    font-size: 10px;
                }
                #auto::after{
                    content:"A";
                    font-size: 10px;
                }
                .functionButton{
                    height: fit-content;
                    width: 15%;
                    background-color: $tertiary-color;
                    color:white;
                    border-radius: 20px;
                    border:none;
                    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.7);
                }
                
                .functionButton:active{
                    border-right:1px solid $primary-color;
                    border-bottom:1px solid $primary-color;
                }
            }
        }
    }
}

@import "./modules/media";